$primary-color:
	#2B2C3A,
	#4D4E5E,
	#6D6E7E,
	#828393,
	#ACADBF,
	#CACADC,
	#EBECFE,
	#F1F1FF,
	#F6F6FF,
	#FAFBFF;

$secondary-color:
	#3B0BBD,
	#422BD6,
	#4A39E2,
	#5246EF,
	#5750FB,
	#6F6EFF,
	#898BFF,
	#ADADFF,
	#CECDFF,
	#ECEBFF;

@function primary-color($index) {
	@return nth($primary-color, $index);
}

@mixin primary-background-color($index) {
	transition: background-color .2s ease-in-out;
	background-color: primary-color($index);

	&.light-theme,
	.light-theme & {
		$primary-color-length: length($primary-color);
		background-color: primary-color($primary-color-length - $index + 1);
	}
}

@mixin primary-text-color($index) {
	transition: color .2s ease-in-out;
	color: primary-color($index);

	&.light-theme,
	.light-theme & {
		$primary-color-length: length($primary-color);
		color: primary-color($primary-color-length - $index + 1);
	}
}

@mixin primary-background-text-color($backgroundIndex, $textIndex) {
	transition: color .2s ease-in-out, background-color .2s ease-in-out;
	background-color: primary-color($backgroundIndex);
	color: primary-color($textIndex);

	&.light-theme,
	.light-theme & {
		$primary-color-length: length($primary-color);
		color: primary-color($primary-color-length - $textIndex + 1);
		background-color: primary-color($primary-color-length - $backgroundIndex + 1);
	}
}

@function primary-label-color($index) {
	@if ($index < 5) {
		@return nth($primary-color, 10);
	} 
	@else {
		@return nth($primary-color, 1);
	}
}

@function secondary-color($index) {
	@return nth($secondary-color, $index);
}

@function secondary-label-color($index) {
	@if ($index < 5) {
		@return nth($secondary-color, 10);
	} 
	@else {
		@return nth($secondary-color, 1);
	}
}








