body {
	//background-color: primary-color(1);
	font: 14Px/16Px Arial;
	color: primary-label-color(1);
}

#common-wrapper {
	@include primary-background-color(1);
}

// macOS Mojave dark theme
// https://github.com/WebKit/webkit/commit/46198bd7636f0d1f85e36d830fd3108707d4c169
@media (prefers-dark-interface) {
	body {
		color: red;
	}
}