.site-nav {
	@include primary-background-color(2);

	a, a:visited {
		@include primary-text-color(10);
		text-decoration: none;
		display: block;
		font-size: 1.4Em;
		line-height: 2Em;
		text-transform: uppercase;
		padding: .25 * $standard-gap $standard-gap;
	}

	nav {
		margin-bottom: $standard-gap;

		%glyph-link {
			background-position: $standard-gap center;
			background-repeat: no-repeat;
		}

		@mixin glyph-link($filename, $current: 0) {
			$filename: '../image/#{$filename}';
			@if ($current == 1) {
				$filename: $filename + '-secondary-3';
			} @else {
				$filename: $filename + '-primary-5';
			}
			$filename: $filename + '.svg';
			background-image: url($filename);
		}
		
		li {
			&.current a,
			&.current a:visited {
				@include primary-background-text-color(3, 10);
				box-shadow: 4Px 0 secondary-color(3) inset;

				&.action          { @include glyph-link('sword', 1) }
				&.adventure       { @include glyph-link('rocket', 1) }
				&.casual          { @include glyph-link('puzzle', 1) }
				&.strategy        { @include glyph-link('chees', 1) }
				&.intellectual    { @include glyph-link('cube', 1) }
				&.sport           { @include glyph-link('ball', 1) }
			}

			a {
				&.action          { @extend %glyph-link; @include glyph-link('sword') }
				&.adventure       { @extend %glyph-link; @include glyph-link('rocket') }
				&.casual          { @extend %glyph-link; @include glyph-link('puzzle') }
				&.strategy        { @extend %glyph-link; @include glyph-link('chees') }
				&.intellectual    { @extend %glyph-link; @include glyph-link('cube') }
				&.sport           { @extend %glyph-link; @include glyph-link('ball') }
			}

			&.details-list {
				& > a {
					position: relative;
		
					&:after {
						content: '';
						display: block;
						width: 6Px;
						height: 6Px;
						position: absolute;
						right: $standard-gap;
						top: 50%;
						margin-top: -5Px;
						transform: rotate(45deg);
						border-color: primary-color(10);
						border-style: solid;
						border-width: 0 2Px 2Px 0;
						transition: transform .1s ease-in;
					}
				}

				ul {
					max-height: 50%;
					overflow: hidden;
					transition: max-height .3s ease-out;

					li a, li a:visited {
						@include primary-text-color(8);
						text-transform: none;
						padding-left: 2 * $standard-gap + 18Px;
					}
				}

				&.collapsed {
					& > a:after {
						transform: rotate(-45Deg);

					}
					ul {
						max-height: 0;
						transition-timing-function: ease-in;
					}
				}
			}
		}
	}

	.my-games {
		border-width: 1Px 0;
		border-style: solid;
		border-color: primary-color(3);
		padding: $standard-gap;
	}

	.site-theme {
		padding: $standard-gap $standard-gap 0;

		.theme-name {
			line-height: 33Px;
			font-size: 1.2Em;
		}

		label {
			$width: 50Px;
			$height: 25Px;
			$padding: 2Px;
			position: relative;

			input[type=checkbox] {
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;

				+ span {
					display: inline-block;
					width: $width;
					height: $height;
					border-radius: $height + $padding;
					border: 2Px solid primary-color(4);
					padding: $padding;
					
					&:after {
						content: "";
						display: block;
						width: $height;
						height: $height;
						border-radius: 100%;
						background: primary-color(4);
						box-shadow: 0 0 12Px primary-color(2);
						transition: all .1s ease-in;
					}
				}

				&:checked + span:after {
					margin-left: $width - $height;
					background: secondary-color(5);
				}
			}
		}
	}
}